<h2>Nieuwe speler toevoegen</h2>
<form (ngSubmit)="saveUser()">
    <input [(ngModel)]="newUser.username" name="username" placeholder="Gebruikersnaam" required>
    <input [(ngModel)]="newUser.firstName" name="firstName" placeholder="Voornaam" required>
    <input [(ngModel)]="newUser.lastName" name="lastName" placeholder="Achternaam" required>
    <input type="password" [(ngModel)]="newUser.password" name="password" placeholder="Wachtwoord" required>
    <input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" placeholder="Bevestig wachtwoord"
        required #cpwd="ngModel">

    @if (newUser.password !== confirmPassword && cpwd.touched) {
    <p style="color: red;">
        Wachtwoorden komen niet overeen!
    </p>
    }

    <select [(ngModel)]="newUser.role" name="role">
        <option value="PLAYER">Player</option>
        <option value="COACH">Coach</option>
        <option value="PARENT">Parent</option>
    </select>

    @if (newUser.role === 'COACH') {
    <div style="margin-top: 10px;">
        <input type="password" [(ngModel)]="newUser.coachCode" name="coachCode" placeholder="Coach verificatiecode"
            required>
        <p style="font-size: 0.8em; color: gray;">
            Alleen coaches hebben deze code.
        </p>
    </div>
    }

    <button type="submit"
        [disabled]="newUser.password !== confirmPassword || newUser.username.length === 0 || (newUser.role === 'COACH' && !newUser.coachCode)">
        Opslaan
    </button>
</form>

<hr>