<nav>
  @if (authService.getUser()) {
  <a routerLink="/home">Home</a> |
  <a routerLink="/planning">Planning</a> |
  <a routerLink="/drills">Drills</a> |

  @if (authService.isCoach()) {
  <a routerLink="/admin/users">Coach Overzicht</a> |
  <a routerLink="/reflectie">Reflectie</a> |
  }

  <button (click)="logout()">Uit loggen ({{ authService.getUser()?.username }})</button>
  }

  @else {
  <a routerLink="/login">Inloggen</a> |
  <a routerLink="/register">Account aanmaken</a>
  }
</nav>

<hr>

<router-outlet></router-outlet>